@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="jumbotron">
<div
  class="bg-image"
>
 <img src="~/img/homepage.jpg" class="img-responsive" style="width:100%" alt="Image">
</div>
</div>
  
<div class="container-fluid bg-3 text-center">    
  <h3>School Activities</h3><br>
  <div class="row">
    <div class="col-sm-3">
      <p>Students Playing</p>
      <img src="~/img/homepage.jpg" class="img-responsive" style="width:100%" alt="Image">
    </div>
    <div class="col-sm-3"> 
      <p>Art Exhibition 2022</p>
      <img src="~/img/art.jpg" class="img-responsive" style="width:100%" alt="Image">
    </div>
    <div class="col-sm-3"> 
      <p>Computer Lab</p>
      <img src="~/img/lab.jpg" class="img-responsive" style="width:100%" alt="Image">
    </div>
    <div class="col-sm-3">
      <p>Cordinator</p>
      <img src="~/img/executive.png" class="img-responsive" style="width:100%" alt="Image">
    </div>
  </div>
</div><br>

<div class="container-fluid bg-3 text-center">    
  <div class="row">
    <div class="col-sm-3">
      <p>Summer 2019</p>
      <img src="~/img/swim.jpg" class="img-responsive" style="width:100%" alt="Image">
    </div>
    <div class="col-sm-3"> 
      <p>Art competition 2022</p>
      <img src="~/img/art22.jpg" class="img-responsive" style="width:100%" alt="Image">
    </div>
    <div class="col-sm-3"> 
      <p>Summer 2022</p>
      <img src="~/img/swim.jpg" class="img-responsive" style="width:100%" alt="Image">
    </div>
    <div class="col-sm-3">
      <p>The Earth day</p>
      <img src="~/img/earth.jpg" class="img-responsive" style="width:100%" alt="Image">
    </div>
  </div>
</div><br><br>

<!-- Footer -->
<footer class="page-footer font-small blue pt-4">

  <!-- Footer Links -->
  <div class="container-fluid text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-6 mt-md-0 mt-3">

        <!-- Content -->
        <h5 class="text-uppercase">Triyog High School</h5>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none pb-3">

      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">

        <!-- Links -->
        <h5 class="text-uppercase">Social</h5>

        <ul class="list-unstyled">
          <li>
            <a href="#!">facebook</a>
          </li>
          <li>
            <a href="#!">Instagram</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">

        <!-- Links -->
        <h5 class="text-uppercase">Medias</h5>

        <ul class="list-unstyled">
          <li>
            <a href="#!">Twitter</a>
          </li>
          <li>
            <a href="#!">linked In</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <a href="/"> MDBootstrap.com</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
</div>
