@{
    ViewData["Title"] = "Opinion";
}

<div class='container-fluid mx-auto mt-5 mb-5 col-12' style="text-align: center">
    <div class="hd">Why People Believe in Us</div>
    <p><small class="text-muted">Always render more and better service than <br />is expected of you, no matter what your ask may be.</small></p>
    <div class="row" style="justify-content: center">
        <div class="card col-md-3 col-12">
            <div class="card-content">
                <div class="card-body"> <img class="img rck" src="~/img/executive.png" style="height: 100px" />
                    <div class="shadow"></div>
                    <div class="card-title"> We're Free </div>
                    <div class="card-subtitle">
                        <p> <small class="text-muted">Dear All
Triyog has a glorious history since its inception
in 1987. We wish to continue its legacy and add
value to whatever we continue to do for our
coveted children as the days go by.
We are committed to excellence in teachinglearning, academic performance, character
building & personal development. We endeavour
to make our School an outstanding learning
community. Our teachers, staff, and students
work together to be the best they can be.
We now have plans to develop the School and
its facilities & intend setting new institutional
standards so that our children can shape their
future. This is what we want to be.
Warm regards! 
</small> </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="card col-md-3 col-12 ml-2">
            <div class="card-content">
                <div class="card-body"> <img class="img" src="~/img/principal.png" style="height: 100px
" />
                    <div class="card-title">The Principal </div>
                    <div class="card-subtitle">
                        <p> <small class="text-muted"> Dear Parents & Guardians
Welcome to Triyog. We are a school with an ambition
to reimagine education – by introducing our students
to multiple learning platforms that involve various
expert stakeholders and our community. We believe
in designing programs that complement classroom
learning.
Our strong academic and co-curricular programs
help build required academic base for the future.
Our ECA programs are designed to spot and nurture
talent and give special focus through our After
School Programs.
We are focused on building skills in our students
that help them become confident and ready for
the future. Our passionate community of teachers
implement the most modern of teaching-learning
methodologies that focus on communication,
collaboration, creativity, and critical thinking.
Come, be a part of our exciting educational
expereince!
Warm regards  </small> </p>
                    </div>
                </div>
            </div>
        </div>
    
    </div>
    <div class="ft">
        <p class="chk"><small class="text-muted">Still not sure?</small></p>
        <div class="btn btn-primary">Read All Testimonials</div>
    </div>
</div>
